.page-template-page-catering {
	
	header.article-header.banner .img-wrap {
		text-align: right;
		
		img {
			max-width: 320px;
	    	transform: scale(1) translate3d(0,-24px,0);
    	
    	@include breakpoint(medium) {
	    	max-width: 65%;
    		transform: scale(1) translate3d(0,0,0);
    	}

    	@include breakpoint(tablet) {
    		max-width: 738px;
    		transform: scale(1) translate3d(0,0,0);
    	}
    	
    	}
	
	}
	
	.accordion {
		.accordion-item {
			
			a.accordion-title:before {
				top: 6.4em;
			}
			
			h2 {
				padding: 0.64em 0;
			}
			
			.big-copy {
				color: $text;
				padding-top: 2.44em;
			}
		}
	}
	
	.img-copy {
		padding-top: 1.8em;
		padding-bottom: 0em;
		
		@include breakpoint(medium) {
			padding-top: 3em;
			padding-bottom: 3.6em;			
		}
    
		.right {
			padding-top: 1.92em;
		}
	}
	
	.contact-card {
		padding-bottom: 5.22em;		
	}
	
}