footer.footer {
	clear: both;
	
	.pre-footer {
		background-color: $primary-color;
		padding-top: 1.93em;
		padding-bottom: 1.93em;
		
		@include breakpoint(medium) {
			padding-top: 3.732em;
			padding-bottom: 3.732em;			
		}
		
		a {
			color: $white;
			&:hover {
				text-decoration: underline;
			}
		}
		
		h2 {
			color: $white;
			font-size: rem-calc(18);
			line-height: 1.52;
			margin: 0;
			
			@include breakpoint(medium) {
				font-size: rem-calc(24);
			}

			@include breakpoint(large) {
				font-size: rem-calc(30);
			}
			
		}
	}
	
	
	.inner-footer,
	.post-footer {
		background-color: #5B8D8E;
		color: $white;
		font-size: rem-calc(16);
		line-height: 1.72;
	}
	
	.inner-footer {
		padding-top: 3.33em;
		padding-bottom: .78em;
		
		.cell {
			margin-bottom: .9em;
		}
		
		a {
			color: $white;
		}
		
		img.footer-logo {
			max-width: 49px;
		}
		
		.address {
			.grid-x {
				padding-top: 2.25em;
				
				img {
					max-width: 60%;
				}
				
			}
		}
				
		.email-wrap {
			overflow-wrap: break-word;
		    word-wrap: break-word;
		    -ms-word-break: break-all;
		    word-break: break-all;
		}
		
		.hours-wrap {
			padding-top: 1.77em;
			
			div {
				text-transform: uppercase;
			}
		}
		
		.menu {
			a {
				margin-bottom: 1.2em;
				padding: 0;
			}
		}
		
	}
	
	.post-footer {
		padding-bottom: 1.5em;
		font-size: rem-calc(12);
		color: #A9D0D3;
		justify-content: space-between;
		
		a {
			color: #A9D0D3;
		}
		
	}
	
		
}